:root {
  --background-color: #FFFDDE;
  --background-color-alternate: #E7FBBE;
  --boy-color: #D9D7F1;
  --girl-color: #FFCBCB;
  --text-color: #53575A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0; 
}

html {
  font-size: 16px;
  color: var(--text-color);
}
